:root {
    --primary-color: #0065FC;
    --primary-color-light: #DEEBFF;
    --secondary-color: #f2f2f2;
    --border: #D0D0D0;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0 2rem;
    width: auto;
}

@media (max-width: 375px) {
    body {
        margin: 0;
    }
}

img {
    object-fit: cover;
}

.fa-star {
    font-size: smaller;
}

.star {
    font-size: smaller;
}

.star-blue {
    color: var(--primary-color);
}

.star-gray {
    color: var(--secondary-color);
}

/* Nav section */

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


h1 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.bloc_page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}


.logo img {
    width: 5rem;
    margin-top: 3rem;
}

.menu {
    flex-basis: 100%;
}

.menu li {
    border: none;
    display: inline-block;
    margin-left: 2rem;
}

.menu li a {
    display: inline-block;
    padding: 3rem .5rem .5rem .5rem;
    color: var(--primary-color);
    margin-left: 3rem;
}

.menu li:hover {
    border-top: var(--primary-color) solid 3px;
}

.nav-small1 {
    padding-top: 3rem;
    color: var(--primary-color);
    font-weight: 700;
}

.nav-small2 {
    display: flex;
    color: var(--primary-color);
    padding: 0;
    justify-content: space-around;
    list-style: none;
    border-bottom: var(--border) 2px solid;
}

.nav-small2 li {
    color: blue;
    text-decoration: none;
    margin: 0;
}

.nav-small2 li a {
    margin: 0 0 1rem 0;
    padding: 0;
}

.nav-small2 li:hover {
    border-bottom: var(--primary-color) 3px solid;
    border-top: none;
}

.bloc_page {
    margin-bottom: 0;
}

@media (max-width: 375px) {
    .bloc_page {
        margin: 0 1rem;
    }
}

@media (max-width: 425px) {
    .nav-large {
        display: none;
    }
}

@media (min-width: 426px) {
    .nav-small1,
    .nav-small2 {
        display: none;
    }
}

@media (min-width: 1441px) {
    .menu li a {
        font-size: x-large;
    }

    .logo img {
        width: 8rem;
    }
}

/* Recherche + info section */
.text_info {
    font-size: .7rem;
    margin-top: 0.5em;
}

@media (max-width: 375px) {
    .search_information {
        margin: 0 1rem;
    }
}

.search_information h1 {
    margin-bottom: 0;
}

.search_form {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.search_form_search-input::placeholder {
    color: black;
}

@media (min-width: 768px) {
    .small-input {
        display: none;
    }
}

@media (max-width: 425px) {
    .large-input {
        display: none;
    }

    .search_form_search-input::placeholder {
        font-size: .7rem;
    }
}

.search_form_icon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.search_icon {
    margin-left: 0.1rem;
}

.search_form_search-input {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}

.submit-input {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 425px) {
    .submit-input {
        border-radius: 1rem;
        padding: 0 1rem;
    }
}

.filter_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter_container h2 {
    font-size: medium;
}

.filters {
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
    margin: 1.5rem;
    border: 2px solid var(--border);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    height: 2rem;
    padding: .3rem 0;
    border-left: none;
    cursor: pointer;
    transition: transform .5s;
}

@media (max-width: 425px) {
    .filter-button {
        margin: .5rem;
    }
}

.filter-button:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    color: white;
}

.filter-button:hover .fas {

    background-color: var(--border);
}

@media screen and (max-width: 1025px) {
    .filter-button {
        font-size: smaller;
    }

    .filter_container {
        flex-direction: column;
        align-items: unset;
    }
}

.filter-button .fas {
    border: 4px solid var(--primary-color-light);
    padding: 1rem;
    height: .255em;
    width: .3em;
    border-radius: 2rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    position: relative;
}

.filter-button .fas::before {
    position: absolute;
    top: .6em;
    left: .5em;
}

.filter_container_title {
    font-size: smaller;
}

.filter-button p {
    padding: 0 1em;
    font-weight: 700;
}

.information {
    display: flex;
    align-items: center;
}

.information .fas {
    border: 1px solid var(--border);
    width: 1.625rem;
    height: 1.125rem;
    border-radius: 1.25rem;
    color: var(--primary-color);
    text-align: center;
    font-size: smaller;
    padding-top: 0.375rem;
    margin-right: 1rem;
}



.fa-child:before {
    margin-left: 0.2rem;
}

.fa-heart:before {
    margin-left: .14rem;
}


.fa-dog:before {
    margin-left: .14rem;
}

@media (max-width: 1024px) {
    .fa-money-bill-wave:before {
        margin: .3rem 0 0 .2rem;
    }

    .fa-child:before,
    .fa-heart:before {
        content: "\f1ae";
        margin: .3rem 0 0 .3rem;
    }

    .fa-dog:before {
        content: "\f6d3";
        margin: .2rem 0 0 .3rem;
    }
}

/* Hostel Section */
.hostels {
    display: flex;
    width: auto;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .hostels {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* Hebergement section */
.hebergement {
    border-radius: 2rem;
    background-color: var(--secondary-color);
    margin-top: 1rem;
    width: 75%;
}

@media (max-width: 768px) {
    .hebergement {
        width: auto;
        padding: 0.5rem;
    }
}

.hebergement>h2 {
    margin: 2rem 1rem 1.5rem 2.4rem;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .hebergement>h2 {
        padding: 1.5rem;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.hebergement_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 375px) {
    .hebergement_container {
        margin: auto 1rem;
    }
}

.hebergement_images {
    border: 4px solid white;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 1em;
    width: 28%;
}

.hebergement_images:hover {
    background-color: var(--primary-color);
    color: white;
    border: 4px solid var(--primary-color);
}

.hebergement_images:hover .star-blue {
    color: white;
}

.hebergement_images:hover .star-gray {
    color: var(--primary-color);
}

.hebergement_images_title {
    margin: .2rem 0 .2rem .3rem;
    font-size: .8rem;
}

@media (min-width: 1441px) {
    .hebergement_images_title {
        font-size: large;
    }
}

.hebergement_images_desc {
    font-size: small;
    margin: 0 0 0 .3rem;
}

.hebergement_images .star {
    margin-left: .3rem;
}

.hebergement_images-image {
    height: 8rem;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.hebergement_more {
    margin: 1.5rem 0px 1.5rem 2rem;
    font-weight: 700;
}

@media (min-width: 1441px) {
    .hebergement_images-image {
        height: 14rem;
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .hebergement {
        border-radius: 2rem;
        background-color: var(--secondary-color);
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }

    .hebergement_container {
        justify-content: space-around;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 618px) {
    .hebergement_images {
        width: auto;
    }
}

/* Popular Section */
.popular {
    border-radius: 1em;
    background-color: var(--secondary-color);
    margin: 1rem 0 0 2rem;
    margin-left: 2rem;
    width: 25%;
}

@media (max-width: 768px) {
    .popular {
        width: auto;
        margin-left: 0;
    }
}

.popular_lodging__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popular_title {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line {
    margin-right: 1rem;
}

.popular>h2 {
    margin: 2rem 1rem 1rem 1.5rem;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .popular>h2 {
        padding: 1.5rem 1.5rem 0 1.5rem;
        margin-bottom: 0;
    }
}

.popular_logding_title {
    margin: .5em 1em .3em 1em;
    font-size: .9rem;
}

@media (min-width: 1441px) {
    .popular_logding_title {
        font-size: large;
    }
}

.popular_lodging {
    border: 4px solid white;
    border-radius: 1rem;
    display: flex;
    background-color: white;
    margin: 1.5em;
}

@media (max-width: 768px) {
    .popular_lodging {
        font-size: smaller;
    }
}

.popular_lodging_desc {
    font-size: small;
    margin: 0 0 2em 1em;
}

.popular_star {
    margin: 0 0 0 1em;

}

@media (min-width: 1441px) {
    .popular_star {
        margin: 0 0 0 1.5rem;
    }
}

.popular_lodging:hover {
    background-color: var(--primary-color);
    color: white;
    border: 4px solid var(--primary-color);
}

.popular_lodging:hover .star-blue {
    color: white;
}

.popular_lodging:hover .star-gray {
    color: var(--primary-color);
}

.popular_lodging_images {
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    width: 40%;
    height: 7.875rem;
    object-fit: cover;
}

@media screen and (min-width: 1441px) {
    .popular_lodging_images {
        width: 12rem;
        height: 14rem;
    }
}

/* Activity Section */

.picture_container {
    display: flex;
    margin-bottom: 4rem;
    border-radius: 1rem;
    justify-content: space-between;
}

@media (max-width: 375px) {
    .activity {
        margin: 0 1rem;
    }
}

.activity_container {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: .5rem .5rem 0 .5rem;
    transition: transform .2s;
}

.activity_container:hover {
    transform: scale(1.05);
}

.picture_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity_header {
    font-size: 1rem;
}

.activity_images_image {
    width: 14.14rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 27rem;
}


@media (min-width: 1441px) {
    .activity_images_image {
        width: 100%;
        height: 30rem;
    }
}

@media (max-width: 1440px) and (min-width: 1025px) {
    .activity_images_image {
        width: 19.5rem;
    }
}


@media (max-width: 769px) {
    .activity_images_image {
        width: 19.5rem;
    }
}

@media (min-width: 844px) and (max-width: 1439px) {
    .picture_container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .activity_images_image {
        width: 15.14rem;
    }

    .column2 {
        align-items: flex-end;
        flex-direction: row;
        width: 64%;
    }

    .activity_container {
        margin: 1rem 0;
    }
}

@media (max-width: 830px) {
    .picture_container {
        flex-wrap: wrap;
        width: auto
    }

    .activity_container {
        margin: 2rem 0 0 0;
    }
}

@media (max-width: 375px) {
    .activity_images_image {
        width: 100%;
        height: 10.8rem !important;
    }
}

.image2 {
    height: 15.3rem;
}

.image3 {
    height: 5.4rem;
}

.image5,
.image6 {
    height: 10.8rem;
}

@media (min-width: 1441px) {
    .image3 {
        height: 6.2rem
    }
}

.activity_images_title {
    margin: 1rem 1.5rem;
    font-size: smaller;
}

.picture1 {
    margin-left: 0;
}

.picture2 {
    margin-bottom: 1.5rem;
}

.picture3,
.picture6 {
    margin-top: 1.54rem;
}

.box_shadow {
    box-shadow: 0 0 20px var(--border);
}

@media (min-width: 2560px) {}

/* Footer */
.footer {
    background-color: #F2F2F2;
    width: auto;
}

.footer_column_container {
    display: flex;
    width: auto;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.footer_column_container_column {
    margin: 2rem 15rem 2rem 2rem;
}

@media (max-width: 1022px) {
    .footer_column_container_column {
        margin: 2rem;
    }
}

.footer_column_link {
    display: block;
    font-size: smaller;
    margin: .5rem 0;
    color: gray;
}

.footer_column_link:hover {
    text-decoration: underline;
}

@media (max-width: 750px) {
    .footer_column_container {
        flex-direction: column;
        padding: 2rem;
    }

    .footer_column_container_column {
        width: auto;
        padding: 0;
        margin: 1rem 0;
    }

    .footer_column_container_column:first-child {
        margin-top: 0;
    }

    .footer_column_container_column:last-child {
        margin-bottom: 0;
    }

    .footer_column_container_column_title {
        margin: 0;
    }

    .footer_column_link:last-child {
        margin-bottom: 0;
    }
}


@media (min-width: 1441px) {

    h1,
    h3,
    p,
    .fa-star {
        font-size: x-large !important;
    }

    .footer_column_container {
        justify-content: space-around;
        font-size: x-large;
    }
}

@media (min-width: 2550px) {
    h2 {
        font-size: large !important;
    }
}

@media (max-width: 425px) {
    .body {
        margin: 0;
    }
}